
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .banner-wrap {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }

    &#about-banner {
        padding: 6.375rem 0;
    }
}

.banner-sm {
    padding: 1.5rem;
    background-color: #f2f2f2;
}

.banner-arrow {
    position: absolute;
    left: 35%;
    bottom: 3rem;
    width: 27%;
    margin: auto;

    @include media-breakpoint-down(lg) {
        bottom: 0;
    }
}

.banners {
    .slick-dots {
        position: absolute;
        right: -9rem;
        top: 40%;
    }
}