/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact {
	label {
		color: #acacac;
		display: block;
		padding-left: 0.8rem;
	}
}