/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/
.container-fluid {
	overflow: hidden;
}

.shipping-banner {
	position: absolute;
	left: 4.375rem;
	top: 5.625rem;	
}

.link-icon {
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 4.5625rem;
	height: 3.5625rem;

	@include transition(all 0.3s ease-in-out);

	&.left {
		background-image: url(../images/icons/link-left.png);

		&:hover {
			transform: translateX(-1rem);
		}
	}

	&.right {
		background-image: url(../images/icons/link-right.png);
		
		&:hover {
			transform: translateX(1rem);
		}
	}

	@include media-breakpoint-down(lg) {
		display: none;
	} 
}

.indicator {
	a {
		display: block;
		font-size: 0.25rem;
		padding: 0.5rem;
		color: #8f8f8f;

		&.active {
			font-size: 0.45rem;
			color: $theme-color;
		}
	}

	@include media-breakpoint-down(xxl) {
		display: none;
	}
}

.slick-slide {
	padding: 2rem;
}

.sale-banner {
	padding: 1rem;

	img {
		width: 4rem;
		height: 3.5rem;
	}
	
	h4 {
		font-size: 1.125rem;
	}

	p {
		color: #4f4f4f;
		line-height: 1.2rem;
		font-weight: 0.875rem;
	}

	@include media-breakpoint-down(lg) {
		padding: 1rem;
	}
}

// time //
#time {
	position:absolute;
	bottom: 2rem;

	p {
		font-size: 0.875rem;
		font-weight: 300;
		color: #262626;
	}

	span {
		display: inline-block;
		font-family: $heading-font;
		font-size: $h2-font-size;
		font-weight: 700;
		color: #262626;
		margin-bottom: 1.25rem;
	}
}

.read-more-link {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: $dark;
	font-weight: 600;
	letter-spacing: 0.05rem;
}

#top-rated-product {
	position: relative;
	
	@include media-breakpoint-up(lg) {
		top: -4vw;
		margin-bottom: -8rem !important;
	}
}

.about-more {
	@include media-breakpoint-up(lg) {
		position: absolute;
		right: -7vw;
		bottom: -10rem;
	}
}

.about-detail {
	p {
		font-family: $heading-font;
		font-size: 5.375rem;
		font-weight: 500;
		line-height: 1;
	}
}