
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: $white;
}

#footer-main {
	padding-top: 5rem;
    padding-bottom: 2rem;

	.navbar-brand {
		img {
			width: 4.5rem;
		}
	}
}

