
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: 0.1rem;
	}

	.sub-title {
		font-family: $heading-font;
		font-weight: 600;
		color: #262626;
		letter-spacing: 0.05rem;
	}
}