
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {
	position: relative;

	p {
		line-height: 1.3rem;
		color: #868686;
		font-size: 0.875rem;
	}

	.widget-title {
		color: #362e29;		
		font-size: 1rem;
		margin-bottom: 1.4rem;
		font-family: $body-font;
		font-weight: 700;
		text-transform: uppercase;
	}	

	// Widget - Social
	&.widget-social {
		.widget-content {
			p {
				color: $white;
				font-size: 1.125rem;
				display: block;
				font-family: $heading-font;
			}

			.social-icons {
				padding: 0;
				list-style: none;
	
				li {
					line-height: 1;
					margin-bottom: 0.7rem;

					a {
						font-size: 0.875rem;
						font-weight: 500;
						display: inline-block;
						color: $dark;		
	
						@include transition(all 0.3s ease-in-out);
			
						&:hover {
							color: $theme-color;
						}
					}
				}
			}
		}
	}

	// Widget - Links
	&.widget-links {
		ul {
			list-style: none;

			li {
				line-height: 1;
				margin-bottom: 0.7rem;

				a {
					color: #707070;

					&:hover {
						color: #362e29;
						font-weight: 600;
					}
				}
			}
		}
	}

	@include media-breakpoint-down(md) {
		&.widget-links {
			.widget-content {
				justify-content: space-between;
			}

			ul {
				width: auto;
				margin: auto;
			}
		}
	}

	// Widget - Payments
	&.widget-payment {
		p {
			color: $white;
			font-size: 1.125rem;
			display: block;
			font-family: $heading-font;
		}
		.payments {

			.payment-icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: .5rem;
				padding: 0.2rem;
				background-size: 80% auto;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 0.5rem;

				img {
					width: 2rem;
				}
			}
		}
	}

	// Widget - custom html
	&.widget-custom-html {
		.widget-content {
			a {	
				font-weight: 500;
				display: block;
				color: $dark;

				&:hover {
					color: $theme-color;
				}
			}
		}
	}

	&.widget-subscribe {
		.widget-content {
			p {
				font-size:0.8rem;
				color: #362e29;
				letter-spacing: 0.05rem;
			}

			#widget-subscribe-form {
				input {
					font-size: 0.875rem;
					border-bottom: 1px solid #978888;
				}

				.input-group-append {
					margin-left: -7rem;

					@include media-breakpoint-down(lg) {
						margin-left: -1rem;
					}
				}

				a {
					font-weight: 700;
					color: $dark;
					display: flex;
					align-items: center;
				}
			}
		}
	}
}