
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    display: block;
	margin-bottom: 0.5rem;

	.icon-header {
		h4 {
			font-family: $body-font;
			font-weight: 600;
			font-size: 1rem;
		}
	}
}